/* Add any CSS you need to this file. */
* {
  margin: 0;
  padding: 0;
}

.container_all {
  width: 100%;
  /*text-align: center;*/
  background-color: white;
}

/*------- header --------*/
header {
  text-align: center;
  background-color: lightcyan;
}
#logoPic {
  max-width: 15%;
  text-align: center;
  -ms-interpolation-mode: bicubic;
}
#logoText {
  color: gray;
  font-size: 90%;
  font-weight: bold;
  text-align: center;
  padding-top: 0.5%;
  font-family: Lobster;
}
.about {
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.about li {
  float: right;
  padding: 0 1% 0.5% 1%;
  font-family: 'Times New Roman', Times, serif;
}
.about li a {
  display: block;
  color: gray;
  text-decoration: none;
  font-size: 90%;
  font-weight: bold;
}
.about li a:hover {
  background-color: #666666;
  color: lightgray;
}

/*-------middle content-------*/
#middle {
  max-width: 100%;
  text-align: center;
  margin: 1% auto;
  background-color: white;
}
/*left menu*/
.menu {
  width: 17%;
  float: left;
  background-color: lightcyan;
  margin-right: 2%;
  margin-left: 1%;
}
.menu ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu li {
  display: block;
  color: gray;
  text-decoration: none;
  text-align: left;
  padding: 2% 0 2% 6%;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  font-size: 90%;
  border: 1px solid gray;
}
.menu li:hover {
  background-color: #666666;
  color: lightgray;
}
/*image grid*/
.imageGrid {
  width: 80%;
  float: left;
  background-color: white;
}
#cate_title {
  text-align: left;
  font-size: 100%;
  font-weight: bold;
  color: gray;
  padding-bottom: 1%;
}
/* image boxes */
figure {
  float: left;
  margin: 0 1em 1em 0;
  border: 1px solid gray;
  border-radius: 4px;
  max-width: 30%;
}
figure img {
  cursor: pointer;
  max-width: 100%;
}
figure:hover figcaption {
  margin-left: 50px;
}
.imagTitle {
  font-weight: bold;
  font-size: 90%;
  color: gray;
}
.imgDes {
  font-size: 80%;
  color: gray;
  padding-bottom: 1em;
}
.imgPrice {
  font-size: 80%;
  color: gray;
  font-weight: bold;
  padding-bottom: 1em;
}

/*popup img*/
#popup {
  display: none;
  position: fixed;
  text-align: center;
  margin-left: 30%;
  background-color: white;
  border: 1px solid gray;
  cursor: default;
  z-index: 1000;
}
#popup .image {
  max-width: 100%;
  margin: 0;
  padding: 0;
}
#popup .close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1001;
  font: bold 24px arial, sans-serif;
  color: white;
  background-color: powderblue;
  padding: 2px;
  border: 2px solid white;
  border-radius: 10px;
  margin: 2px;
  cursor: pointer;
}
#popupbg {
  visibility: hidden;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

/*******footer*********/
#footer {
  max-width: 100%;
  margin: auto;
  color: gray;
  cursor: pointer;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
#separator {
  color: white;
}
#footer_div {
  max-width: 100%;
  margin: auto;
  background-color: lightcyan;
}
#footerTitle {
  font-size: 110%;
  font-weight: bold;
  padding-top: 1%;
  width: 100%;
}
#share {
  width: 55%;
  float: right;
  text-align: right;
  padding-right: 2%;
}
#touch {
  font-size: 90%;
}
.shareImg:hover {
  background-color: rgba(189, 188, 188, 0.89);
}
#news {
  width: 40%;
  float: right;
  text-align: left;
  font-size: 90%;
}
#newsletter {
  margin-top: 1.5%;
  margin-bottom: 1%;
}
#button {
  margin-top: 1.5%;
  color: gray;
  font-family: 'Times New Roman';
  border: 1px solid gray;
  padding: 1.5px;
}
#button:hover {
  background-color: rgba(189, 188, 188, 0.89);
}
#bottom {
  text-align: center;
  background-color: lightcyan;
  float: center;
}
#space {
  color: lightcyan;
}
#copyright {
  font-size: 70%;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 4px;
}

/******Contact*******/
#form_title {
  text-align: center;
  font-size: 200%;
  font-weight: bold;
  margin-bottom: 3%;
}
